@import '../../variables.scss';

//byu-header.component.scss
header {
  position: sticky; // keep header fixed at top while scrolling
  top: 0;
  z-index: 10;
  

  h4 {
    font-weight: normal;
  }

  ul {
    list-style: none;
  }

  .top {
    background-color: #002e5d;
    display: flex;
    justify-content: space-between; //pushes them to the sides! (but fix)
    padding: 13px 16px;
    color: #e4edf7;

    .left  {
      display: flex;
      align-items: center;
    }
    img {
      height: 40px;
      align-items: center;
      padding-right: 10px;
    }
    // TODO: making columns!
    .titles {
      position: relative; // for the ::before element
      display: flex;
      flex-direction: column;
      padding-left: 24px;
      

      &::before {
        content: " ";
        display: block;
        position: absolute;
        background: #bdd6e6;
        width: 1px;
        height: 74%;
        right: auto;
        left: 0;
        top: 13%;
      }
    }
    .breadcrumbs {
      display: flex;
      flex-direction: row;
      gap: 10px;
      font-weight: bold;
    }
    .breadcrumbs a {
      position: relative; //bug fixed add this to render the line
      color: #a6abb1;
      text-decoration: none;
      font-size: 16px;
    }

    .breadcrumbs a:not(:first-child) {
      padding-left: 10px; //just dont change the padding of the first element
    }

    .breadcrumbs a:visited {
      color: #a6abb1;
    }

    .breadcrumbs a:hover {
      color: #ffffff;
    }
    .breadcrumbs a:not(:first-child)::before {
      content: " ";
      display: block;
      position: absolute;
      background: #bdd6e6;
      width: 1px;
      height: 84%;
      right: auto;
      left: 0;
      top: 13%;
    }
      .byu-title {
        font-size: 24px;
        margin-top: 3px;
        margin-bottom: 3px;
        font-weight: 700;
      }

      .byu-subtitle {
        margin-top: 2px;
        margin-bottom: 1px;
        font-size: 1.3rem;
        font-weight: 300;
      }
  

    .right {
      display: flex;
      align-items: center;

      .signin-container {
        display: flex;
        gap: 10px;
        font-size: 16px;
        

        .signin-icon {
          display: flex;
          height: 20px;
          width: 20px;
        }

        .signin-link {
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }

  nav {
    display: flex;
    flex-direction: row;
    padding-left: 115px;
    height: 60px;
    list-style: none;
    box-shadow: 0px 3px 10px 0px rgba(204, 197, 197, 0.5);

    a {
      display: flex;
      align-items: center;
      gap: 10px;
      text-decoration: none;
      text-wrap: nowrap;
      position: relative;
      color: #002e5d;
      padding: 11px 25px;

      > ul {
        position: absolute;
        background: white;
        z-index: 1000;
        top: 44px;
        left: 0;
        padding: 0;
        
        box-shadow: 0px 3px 3px 0px rgba(204, 197, 197, 0.75);

        a {
          padding: 20px 32px;
        }
      }

      .rotate{
        transform: rotate(180deg);
      }

      &.dropdown::after {
        content: "";
        display: block;
        width: 7px;
        aspect-ratio: 1 / 1;
        border-bottom: 2px solid $byu-muted-color;
        border-right: 2px solid $byu-muted-color;
        border-bottom-right-radius: 1px; 
        transform: translateY(-25%) rotate(45deg);
      }
    }

    a:hover {
      background-color: #f1f1f1;
      cursor: pointer;
    }

    .scrim {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      z-index: 999;
    }
  }

 
  @media only screen and (max-width: 580px) {

    .top {
      flex-direction: column; // stack items vertically
      align-items: flex-start;
    }
    
    .signin-container {
      display:none;
    }

    .nav {
      display: none;
    }

    .hamburger-menu {
      display: flex;
      flex-direction: column;
    }

    .bar {
      height: 4px;
      width: 30px;
      background-color: #002e5d;
      margin: 4px 0;
      transition: 0.4s;
    }

  }
}
