<!-- byu-header.component.html -->
<header>
    <div class="top">
        <div class="left">
            <img class="styled-image" src="/BYU_monogram_white@2x.png" alt="Image Description">
            <div class="titles">
                <div class="breadcrumbs">
                    @for (breadcrumb of config()?.breadcrumbs; track breadcrumb.label){
                    <a routerLink="{{breadcrumb.path}}">{{breadcrumb.label}}</a>
                    }
                </div>
                <h1 class="byu-title">{{config()?.title?.label}}</h1>
                <h2 class="byu-subtitle">{{config()?.subtitle?.label}}</h2>
            </div>
        </div>

        <div class="right">
            <svg class="signin-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                <path fill="currentcolor"
                    d="M50 95c-26 0-34-18-34-18 3-12 8-18 17-18 5 5 10 7 17 7s12-2 17-7c9 0 14 6 17 18 0 0-7 18-34 18z">
                </path>
                <circle cx="50" cy="50" r="45" fill="none" stroke="currentcolor" stroke-width="10"></circle>
                <circle fill="currentcolor" cx="50" cy="40" r="20"></circle>
            </svg>
            <a class="signin-link" href="/">Sign In</a>
        </div>
    </div>
    <nav>
        @for (menuItem of config()?.menu; track menuItem.label){
        @if (isHeaderLink(menuItem)) {
        <!--getting an error because it is a union type which means a headerMenu can either be a HeaderLink or a group wiwth  items | -->
        <a routerLink="{{menuItem.path}}">{{menuItem.label}}</a>
        
        <!--if there is a drop down menu-->
        } @else {
        <a (click)="setMenu(menuItem.label)">
            {{ menuItem.label }}
            <ul class="dropdown-item-menu" [hidden]="openMenu() !== menuItem.label">
                @for(dropItem of menuItem.items; track dropItem.label){
                <li>
                    <a class="dropdown-item-content" routerLink="{{ dropItem.path }}">
                        {{ dropItem.label }}
                    </a>   
                </li>
                
                }
            
            </ul>   
            <svg [class.rotate]="openMenu() === menuItem.label" fill="#000000" height="8px" width="8px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                viewBox="0 0 330 330" xml:space="preserve">
            <path id="XMLID_225_" d="M325.607,79.393c-5.857-5.857-15.355-5.858-21.213,0.001l-139.39,139.393L25.607,79.393
                c-5.857-5.857-15.355-5.858-21.213,0.001c-5.858,5.858-5.858,15.355,0,21.213l150.004,150c2.813,2.813,6.628,4.393,10.606,4.393
                s7.794-1.581,10.606-4.394l149.996-150C331.465,94.749,331.465,85.251,325.607,79.393z"/>
            </svg>
        </a>
        <div class="scrim" [hidden]="openMenu() !== menuItem.label" (click)="setMenu(null)"></div>
    }
}
    </nav>
</header>
<!-- 
input() is used to bind input properties with signals.
defaultConfig is used to provide an initial value. -->