<header>
    <div class = "logo">
        <img class="styled-image" src="/BYU_monogram_white@2x.png" alt="Image Description">
    </div>
    <div class="Header-titles"> 
        <div class="breadcrumbs">
            @for (breadcrumb of config()?.breadcrumbs; track breadcrumb.text){
                <a routerLink="{{breadcrumb.path}}" >{{breadcrumb.text}}</a>
            }
        </div>
        <div class ="title-containers">
            <h1 class="byu-title">{{config()?.title?.text}}</h1>
            <h2 class="byu-subtitle">{{config()?.subtitle?.text}}</h2>
        </div>
    </div>
        <svg class="signin-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72 72">
          <defs>
            <style>
              .am { stroke-miterlimit: 10; }
              .am, .an { fill: none; stroke: #FFF; stroke-width: 2.5px; }
            </style>
          </defs>
          <path class="am" d="M19.89,54.62v-2.55c0-5.01,4.06-9.07,9.07-9.07h14.08c5.01,0,9.07,4.06,9.07,9.07v2.54"/>
          <circle class="am" cx="36" cy="29.44" r="7.9"/>
          <circle class="an" cx="36" cy="36" r="24.5"/>
        </svg>
</header>
<!-- 
input() is used to bind input properties with signals.
defaultConfig is used to provide an initial value. -->