:host {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
  overflow: hidden;
}

main {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  height: 100%;
}

.main-scroll-container {
  flex: 1;
  overflow-y: auto;
  padding-left: 20px;
  padding-right: 20px;
}
