$byu-primary-background: #FFFFFF;
$byu-secondary-background: #002E5D;
$byu-accent-background: #0047BA;

$byu-primary-color: #141414;
$byu-secondary-color: #002E5D;
$byu-muted-color: #666666;
$byu-accent-color: #FFFFFF;

$byu-info: #1FB3D1;
$byu-success: #10A170;
$byu-warning: #FFB700;
$byu-error: #E61744;