@import "../../variables.scss";

mat-sidenav-container {
  display: fixed;
  height: 100%;
  overflow: hidden;
  box-shadow: 3px 0px 10px 0px rgba(204, 197, 197, 0.5); 
  

}

mat-sidenav {
  width: max-content;
  background-color: $byu-primary-background;

}

mat-sidenav-content {
  display: flex;
  flex-direction: column;
  background-color: $byu-primary-background;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  justify-content: space-between;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  padding-inline: 16px;
  gap: 0.75rem;
}

.collapsed-icon-menu {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  align-items: center;
  padding-top: 1rem;
  gap: 0.75rem;
}

.sidebar-menu button,
.collapsed-icon-menu button {
  color: $byu-secondary-color;
  display: flex;
  gap: 10px;
}

.sidebar-menu button {
  justify-content: flex-start;
  width: 100%;
  padding: 8px 12px;
}

.chevron-wrapper {
  border-top: 1px solid lightgray;
  padding-top: 0.5rem;
  display: flex;
}

.chevron-left-wrapper {
  justify-content: flex-end;
}

.chevron-right-wrapper {
  margin-top: auto;
  width: 100%;
  justify-content: flex-start;
}

.chevron_left,
.chevron_right {
  margin: 0 4px 4px 0;
  align-self: flex-end;
}

.search-field {
  margin-top: 1rem;
  margin-bottom: -1em;
  width: 20ch;
  min-width: 100%;
}