<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" class="grey-container" opened>
    <div class="sidebar-content">
      <!-- Full nav when open -->
      <div *ngIf="sidenav.opened" class="sidebar-menu">
        @for (menuItem of config()?.menu; track menuItem) {
          @if (menuItem.type === 'link') {
            <button mat-button class="nav-item">
              <mat-icon>{{ menuItem.icon }}</mat-icon>
              {{ menuItem.text }}
            </button>
          }

          @if (menuItem.type === 'search') {
            <mat-form-field appearance="outline" class="search-field">
              <mat-label>{{ menuItem.label }}</mat-label>
              <input
                matInput
                [placeholder]="menuItem.placeholder || 'Search'"
                #personIdSearchInput
              />
              <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
          }
        }
      </div>
      <!-- Hamburger at bottom -->
      <button mat-icon-button (click)="sidenav.toggle()" class="chevron_left">
        <mat-icon>chevron_left</mat-icon>
      </button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- Show only when sidenav is closed -->
    <div *ngIf="!sidenav.opened" class="collapsed-icon-menu">

      @for (menuItem of config()?.menu; track menuItem) {
        @if (menuItem.type === 'link') {
          <button mat-icon-button [routerLink]="menuItem.path">
            <mat-icon>{{ menuItem.icon }}</mat-icon>
          </button>
        }
      
        @if (menuItem.type === 'search') {
          <button mat-icon-button (click)="focusSearch()">
            <mat-icon>{{ menuItem.icon }}</mat-icon>
          </button>
        }
      }
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
