mat-sidenav-container {
  height: 100vh;  /* Explicitly set the height of the sidenav container */
}

mat-sidenav {
  width: 240px;
  transition: width 0.3s ease;
}

mat-sidenav-content {
  overflow-x: hidden;
  overflow-y: hidden;
}

.sidebar-content,
.collapsed-icon-menu {
  display: flex;
  flex-direction: column;
}

.sidebar-content {
  padding: 10px 0;
}

.chevron_left {
  margin-bottom: 0rem;
  margin-top: 0rem;
  margin-right: 4px;
  align-self: flex-end;
}

.sidebar-menu {
  padding-left: 16px;
  gap: 0.75rem;
  display: flex;
  flex-direction: column;
}

.sidebar-menu button,
.collapsed-icon-menu button {
  color: darkslategray;
}

.sidebar-menu button {
  justify-content: flex-start;
  width: 100%;
  padding: 8px 12px;
}

.sidebar-menu button mat-icon,
.collapsed-icon-menu button mat-icon {
  color: darkslategray;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.collapsed-icon-menu {
  gap: 0.75rem;
  margin-top: 1rem;
  align-items: center;
}

.search-field {
  width: 92%;             // slightly wider and closer to left
  margin: 0.1rem 0 0 8px; // top margin, no right/bottom, slight left indent
  height: 60px;           // tighter vertical space
}


